<%- include("../../templates/header.ejs") %> <%-
include("../../templates/navbar.ejs") %> <%-
include("../../templates/sidebar.ejs") %>

<style>
    .dataTable-selector{
        width: 4rem;
    }
</style>

<h3>Halaman Bank</h3>

<div class="card mb-4">
    <div class="card-header">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-addbank">
            <div class="fas fa-plus"></div>
        </button>
        <% if (msg.length !== 0) { %>

            <% if (status == "danger") { %>
                <div class="alert alert-danger mt-2" role="alert"><%= msg %></div>
           <% } else { %>

             <div class="alert alert-success mt-2" role="alert"><%= msg %></div>
        <% } } %>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name Bank</th>
                    <th>No Rekening</th>
                    <th>Name</th>
                    <th>Logo</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% let a = 1; bank.forEach(i => { %>
                    <tr>
                        <td><%= a++ %></td>
                        <td><%= i.nameBank %></td>
                        <td><%= i.nomorRekening %></td>
                        <td><%= i.name %></td>
                        <td>
                            <img src="/<%= i.imageUrl %>" class="img-fluid" width="60" alt="logo<%= i.nameBank %>">
                        </td>
                        <td>        
                            <button type="button" data-id="<%= i.id %>"  data-name="<%= i.name %>" data-namebank="<%= i.nameBank %>" data-nomorrekening="<%= i.nomorRekening %>" data-imageurlold="<%= i.imageUrl %>" id="button-edit" class="btn btn-warning text-white me-3 btn-sm rounded-pill" >
                                 <i class="fas fa-edit"></i>
                            </button>
                            <form action="/admin/bank?_method=DELETE" method="POST" class="d-inline">
                                <input type="hidden" name="id" value="<%= i.id %>">
                                <input type="hidden" name="imageUrl" value="<%= i.imageUrl %>">
                                <button type="sumbit" onclick="return confirm('Apakah Anda Yakin?')" class="btn btn-danger btn-sm rounded-pill" >
                                    <i class="fas fa-trash"></i>
                               </button>
                            </form>
                        </td>
                        </tr>
                        <% }) %>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Add -->
<div class="modal fade" id="modal-addbank" tabindex="-1">
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add bank</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/bank" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                      <label for="name-add" class="form-label">Bank Name</label>
                      <input name="nameBank" type="text" class="form-control" id="bankName-add" required >
                    </div>
                    <div class="mb-3">
                      <label for="name-add" class="form-label">No Rekening</label>
                      <input name="nomorRekening" type="text" class="form-control" id="noRek-add" required >
                    </div>
                    <div class="mb-3">
                      <label for="name-add" class="form-label">Name</label>
                      <input name="name" type="text" class="form-control" id="name-add" required >
                    </div>
                    <div class="mb-3">
                      <label for="name-add" class="form-label">Image</label>
                      <input name="imageUrl" accept="image/*" type="file" class="form-control" id="image-add" required >
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="modal-editbank" tabindex="-1">
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit bank</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/bank?_method=PUT" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="imageUrlOld" id="imageurlold-edit">
                    <input type="hidden" name="id" id="id-edit">
                    <div class="mb-3">
                      <label for="bankName-edit" class="form-label">Bank Name</label>
                      <input name="nameBank" type="text" class="form-control" id="nameBank-edit" required >
                    </div>
                    <div class="mb-3">
                      <label for="nomorRekening-edit" class="form-label">No Rekening</label>
                      <input name="nomorRekening" type="text" class="form-control" id="nomorRekening-edit" required >
                    </div>
                    <div class="mb-3">
                      <label for="name-edit" class="form-label">Name</label>
                      <input name="name" type="text" class="form-control" id="name-edit" required >
                    </div>
                    <div class="mb-3">
                      <label for="image-edit" class="form-label">Image</label>
                      <input name="imageUrl" accept="image/*" type="file" class="form-control" id="image-edit" >
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $("#datatablesSimple").on("click", "#button-edit", function () {
        let id = $(this).data("id")
        let imageurlold = $(this).data("imageurlold")
        let name = $(this).data("name")
        let nameBank = $(this).data("namebank")
        let nomorRekening = $(this).data("nomorrekening")
        $("#modal-editbank").modal("show")
        $("#name-edit").val(name)
        $("#nameBank-edit").val(nameBank)
        $("#nomorRekening-edit").val(nomorRekening)
        $("#id-edit").val(id)
        $("#imageurlold-edit").val(imageurlold)
    })
</script>

<%- include("../../templates/footer.ejs") %>
